<!-- template: content-wrapper -->
<div class="content-wrapper">

  <!-- template: off-canvas-menu -->
  <div class="off-canvas-menu">

  </div>
  <!-- /template: off-canvas-menu -->

  <!-- template: off-canvas-overlay -->
  <a href="#" class="off-canvas-overlay toggle-nav"></a>
  <!-- /template: off-canvas-overlay -->

  <!-- template: off-canvas-content -->
  <div class="off-canvas-content">

    <!-- template: page-header -->
    <div class="page-header">

      <!-- template: page-banner -->
      <div class="page-banner">

          <div class="banner-inner">

              <div id="banner">

                  <eSeller:Container ContainerName="banner" CssId="#banner" />

              </div>

              <div class="tablet-up">

                  <a href="/"><img src="/images/editor/Design/Responsive/Topbanner.jpg" alt="" class="page-topbanner" /></a>

              </div>

              <div class="mobile-only">

                  <a href="/"><img src="/images/editor/Design/Responsive/Topbanner-mobile.jpg" alt="" class="page-topbanner" /></a>

              </div>

          </div>

      </div>
      <!-- /template: page-banner -->

      <!-- template: page-menu-top -->
      <div class="page-menu-top">

        <eSeller:Container ContainerName="topMenu" CssId="#topMenu" />

      </div>
      <!-- /template: page-menu-top -->

    </div>
    <!-- /template: page-header -->

    <!-- template: page-content -->
    <div class="page-content">

      <!-- template: page-content-pane -->
      <div class="page-content-pane">

        <eSeller:Content ContainerName="content" CssId="#tblContent .contentPane" />

      </div>
      <!-- template: page-content-pane -->

    </div>
    <!-- template: page-content -->

  </div>
  <!-- /template: off-canvas-content -->

</div>
<!-- /template: content-wrapper -->
